.homepage{
    /* display: grid; */
    max-height: 100%;
}
.homepage-main{
    display: flex;
    gap: 20px;
    padding: 0.8rem 1.5rem;
    background-color: #131415;
    color: #fff;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F1F0CC;
    padding: 0.62rem 1.5rem;
    /* #FF8C61 */
}
.header-logo{
    width: 100px;
}
.user-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-img-container{
    height: 110px;
    width: 110px;
    border: 2px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-card .name{

}
.user-card .username{
    
}
.user-card .block{
    display: flex;
    align-self: normal;
    justify-content: space-between;
    padding: 1rem;
    /* background: #F1F0CC; */
    background: #1F2124;
    /* color: #000; */
    color: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
}
.user-img-container img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.sidebar{
    flex-basis: 20%;
    /* background-color: aqua; */
}
.sidebar-nav{
    border-bottom: 1px solid #fff;
}
.individual-nav{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.individual-nav ion-icon{
    font-size: 1.2rem;
}
.individual-nav:hover{
    background-color:  #F1F0CC;
    color: #000;
    padding: 0.6rem;
    border-radius: 10px;
}
.mid-section{
    flex-basis: 60%;
    max-width: 60%;
    /* background-color: red; */
}
.aside{
    flex-basis: 20%;
    /* background-color: #33D141; */
}
.sidebar .sub-section{
    padding: 1rem;
    /* background: #F1F0CC; */
    background: #1F2124;
    /* color: #000; */
    color: #fff;
    border-radius: 10px;
}
/* .vendors-catalogue{
    position: relative;
} */
.vendors-catalogue .primary-text{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.vendor-card{
    flex-shrink: 0;
    width: 250px;
    background: #1F2124;
    border-radius: 20px;
    padding: 0.5rem;
}

.vendor-img-container{
    height: 150px;
    position: relative;
}

.vendors-scrollable{
    margin-top: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    white-space: nowrap;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

.vendor-img-container .sub-section{
  width: 100%;  
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.5);
  backdrop-filter: blur(3px);
  border-radius: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.6rem;
  display: flex;
  gap: 20px;
}

.vendor-card .second-sub-section{
  margin: 10px 0;
  border-bottom: 0.2px solid rgba(249, 248, 248, 0.3) ;
}

.vendor-img-container img{
    height: 150px;
    border-radius: 20px;
}

.date-joined{
    color: #33D141;
    font-size: 0.6rem;
}
.inner-section{
    padding-bottom: 20px;
}
.user-section{
   margin: 10px 0;
   display: flex;
   gap: 20px;
   align-items: flex-end;
}

.user-section img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

p.description{
    overflow: hidden;
    text-overflow: ellipsis;
}
.vendor-card .btn-container{
    display: flex;
    justify-content: end;
}
.btn-vendor-card{
   color: #F1F0CC;
   background-color: #35332D;
   padding: var(--large-btn-padding);
}

.vendors-liked .primary-text{
 margin: 20px 0;
}
.vendors-liked .user-section{
    gap: 5px;
}
.vendors-liked .user-section img{
    width: 30px;
    height: 30px;
}
.meals-feed-container{
    background-color: #1F2124;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

/* ------------------ */
.meals-feed-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
}
.tweet{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 0.2px solid rgba(249, 248, 248, 0.3) ;
}
.tweet-primary-container{
    position: relative;
}
.tweet-primary{
    position: absolute;
    right: 5px;
    top: 5px;
    height: 55px;
    width: 55px;
    border-radius: 50px;
    background: #1F2124;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.tweet-primary img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.tweet .food-img{
    height: 150px;
    border-radius: 5px;
}
.tweet .socials-container{
  display: flex;
  justify-content: space-between;
}
.tweet .socials{
   display: flex;
   align-items: center;
   gap: 10px;
}
